snippet aligned "align environment" b
$$
    \begin{aligned}
        &= \\\
    \end{aligned}
$$
endsnippet

snippet bmatrix "matrix environments"
\begin{bmatrix}
	& & \\\
\end{bmatrix}
endsnippet

snippet table "table environment"
\begin{center}
	\begin{tabular}[c|c|c]
	\hline
	& & \\\
	\end{tabular}
\end{center}
endsnippet
